---
import Layout from '../layouts/Layout.astro';
import ReactLogin from '../components/ReactLogin.jsx'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Login Page</h1>
    <ReactLogin client:load />
	</main>
</Layout>

<style>
</style>
